course_2/Play-Aurelia-Postgresql-project/au/* linguist-vendored
course_2/Play-Aurelia-Postgresql-project/project/* linguist-vendored
course_2/Play-Aurelia-Postgresql-project/target/* linguist-vendored
course_2/Play-Aurelia-Postgresql-project/test/* linguist-vendored


course_2/Play-Jquery-Postgresql-project/au/* linguist-vendored
course_2/Play-Jquery-Postgresql-project/project/* linguist-vendored
course_2/Play-Jquery-Postgresql-project/target/* linguist-vendored
course_2/Play-Jquery-Postgresql-project/test/* linguist-vendored
