NET "SW[0]" LOC = J15;
NET "SW[1]" LOC = L16;
NET "LD[0]" LOC = H17;
NET "LD[2]" LOC = J13;
NET "LD[3]" LOC = N14;
NET "LD[4]" LOC = R18;
NET "LD[5]" LOC = V17;
NET "LD[1]" LOC = K15;
NET "LD[6]" LOC = U17;
NET "LD[7]" LOC = U16;
NET "LD[8]" LOC = V16;
NET "LD[9]" LOC = T15;
NET "LD[10]" LOC = U14;
NET "LD[11]" LOC = T16;
NET "LD[12]" LOC = V15;
NET "LD[14]" LOC = V12;
NET "LD[15]" LOC = V11;
NET "LD[13]" LOC = V14;

NET "SCLK" LOC = F15;

# PlanAhead Generated IO constraints 

NET "LD[15]" IOSTANDARD = LVCMOS18;
NET "LD[14]" IOSTANDARD = LVCMOS18;
NET "LD[13]" IOSTANDARD = LVCMOS18;
NET "LD[12]" IOSTANDARD = LVCMOS18;
NET "LD[11]" IOSTANDARD = LVCMOS18;
NET "LD[10]" IOSTANDARD = LVCMOS18;
NET "LD[9]" IOSTANDARD = LVCMOS18;
NET "LD[8]" IOSTANDARD = LVCMOS18;
NET "LD[7]" IOSTANDARD = LVCMOS18;
NET "LD[6]" IOSTANDARD = LVCMOS18;
NET "LD[5]" IOSTANDARD = LVCMOS18;
NET "LD[4]" IOSTANDARD = LVCMOS18;
NET "LD[3]" IOSTANDARD = LVCMOS18;
NET "LD[2]" IOSTANDARD = LVCMOS18;
NET "LD[1]" IOSTANDARD = LVCMOS18;
NET "LD[0]" IOSTANDARD = LVCMOS18;
NET "SW[1]" IOSTANDARD = LVCMOS18;
NET "SW[0]" IOSTANDARD = LVCMOS18;
NET "SCLK" IOSTANDARD = LVCMOS18;
