/* desktop */
@media (min-width: 1280px) {
  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 2px;
  }

  canvas{
    display: block;
    margin-left: 10%;
    margin-top: 10px;
  }

  .container{width:100%}
  .box{white-space:nowrap}
  .box div{
    width:50%;
    display:inline-block;
    border:1px solid black;
    margin-left: 3%;
    position: absolute;
    top: 14.5%
  }
  .box canvas{display:inline-block;border:1px solid black}

}

/* tablet */
@media (min-width: 690px) and (max-width: 1280px) {
  h2 {
    text-align: center;
    font-size: 20px;
  }

  canvas{
    display: block;
    margin-left: 5%;
    margin-top: 1%;
  }

  .container{width:100%}
  .box{white-space:nowrap}
  .box div{
    display:inline-block;
    border: 1px solid black;
    margin-left: 3%;
    margin-right: 5%;
    position: absolute;
    top: 13.3%;
    overflow: auto;
  }
  .box canvas{display:inline-block;border:1px solid black}
}

/* mobile */
@media (max-width: 690px) {
  h2 {
    text-align: center;
    font-size: 10px;
  }

  canvas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    display: block;
  }

  .box div{
    max-width: 90%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 3%;
    margin-right: 5%;
    position: absolute;
    overflow: auto;
  }
}

input.button_pressed_r, input.button_pressed_x{
  width: 30px;
  margin: 1px 1px;
  background: #66608B;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  transition-duration: 0.4s;
}
button_r:hover, button_x:hover{
  background-color: #bf808d;
  border: 2px solid #8dd6d9;
  color: white;
}

input.button_r, input.button_x{
  width: 30px;
}
