NET "SW" LOC = J15;		#SW[0] on the plate

#NET "LD[0]" LOC = H17;
#NET "LD[1]" LOC = K15;
#NET "LD[2]" LOC = J13;
#NET "LD[3]" LOC = N14;
#NET "LD[4]" LOC = R18;
#NET "LD[5]" LOC = V17;
#NET "LD[6]" LOC = U17;
#NET "LD[7]" LOC = U16;

NET "txd" LOC = D4;
#NET "rxd" LOC = C4;

NET "clk" LOC = "E3";
NET "rst" LOC = L16;		#SW[1] on the plate
# PlanAhead Generated IO constraints 

#NET "LD[7]" IOSTANDARD = LVCMOS33;
#NET "LD[6]" IOSTANDARD = LVCMOS33;
#NET "LD[5]" IOSTANDARD = LVCMOS33;
#NET "LD[4]" IOSTANDARD = LVCMOS33;
#NET "LD[3]" IOSTANDARD = LVCMOS33;
#NET "LD[2]" IOSTANDARD = LVCMOS33;
#NET "LD[1]" IOSTANDARD = LVCMOS33;
#NET "LD[0]" IOSTANDARD = LVCMOS33;

NET "SW" IOSTANDARD = LVCMOS33;
#NET "rxd" IOSTANDARD = LVCMOS33;
NET "txd" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;

NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50 % INPUT_JITTER 95 ps;