/* desktop */
@media (min-width: 1280px) {

  canvas{
    display: block;
    margin-left: 10%;
    margin-top: 60px;
  }

  .main_container{margin-left: 200px}
  .container{width:100%}
  .box{white-space:nowrap}
  .box div{
    display:inline-block;
    border:1px solid black;
    margin-left: 3%;
    position: absolute;
    top: 8%
  }
  .box canvas{display:inline-block}

  table {
    border-collapse: collapse;
    width: 650px;
    background-color: #FDFF9E;
    overflow: auto;
  }

  table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    background-color: #FDFF9E;
  }
  th, td {
    vertical-align: top;
    text-align: center;
    padding: 3px;
    height: 20px;
    font-family: "Ubuntu Condensed", cursive ;
  }
  td[rowspan] {
    vertical-align:top;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
  }

  loginname{
  	text-align: center;
  	margin-top: 230px;
  }
}

/* tablet */
@media (min-width: 690px) and (max-width: 790px) {table {width: 190px; }}
@media (min-width: 790px) and (max-width: 1100px) {table {width: 340px; }}
@media (min-width: 1100px) and (max-width: 1280px) {table {width: 590px; }}
@media (min-width: 690px) and (max-width: 1280px) {

  canvas{
    display: block;
    margin-top: 60px;
  }

  .main_container{margin-left: 150px}
  .container{width:100%}
  .box{white-space:nowrap}
  .box div{
    display:inline-block;
    border: 1px solid black;
    margin-left: 3%;
    position: absolute;
    top: 8%;
  }
  .box canvas{display:inline-block;}

  table {
    border-collapse: collapse;
    background-color: #FDFF9E;
  }

  table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    background-color: #FDFF9E;
  }
  th, td {
    vertical-align: top;
    text-align: center;
    padding: 3px;
    height: 20px;
    font-family: "Ubuntu Condensed", cursive ;
  }
  td[rowspan] {
    vertical-align:top;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
  }
  loginname{
  	text-align: center;
  	margin-top: 230px;
  }
}

/* mobile */

@media (min-width: 0px) and (max-width: 200px) {table {width: 150px; }}
@media (min-width: 200px) and (max-width: 300px) {table {width: 200px; }}
@media (min-width: 300px) and (max-width: 400px) {table {width: 300px; }}
@media (min-width: 400px) and (max-width: 690px) {table {width: 380px; }}
@media (max-width: 690px) {

  canvas{
    margin-right: auto;
    margin-top: 60px;
    display: table-column;
  }

  .box div{
    max-width: 90%;
    display: inline-block;
  }
  .box canvas{float: top;}
  .box scrolltable{ margin-top: 20px;    float: bottom;}
  table {
    background-color: #FDFF9E;
  }

  table, td, th {
    border: 1px solid black;
  }
  table {
    overflow: scroll;
    background-color: #FDFF9E;
  }
  th, td {
    vertical-align: top;
    text-align: center;
    padding: 3px;
    height: 20px;
    font-family: "Ubuntu Condensed", cursive ;
  }
  td[rowspan] {
    vertical-align:top;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
  }
  loginname{
  	text-align: center;
  	margin-top: 80px;
  }

}




input.button_r, input.button_x {
  background: #D3D3D3;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  transition-duration: 0.4s;
}
input.button_pressed_r, input.button_pressed_x{
  width: 30px;
  margin: 1px 1px;
  background: #66608B;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  transition-duration: 0.4s;
}
button_r:hover, button_x:hover{
  background-color: #bf808d;
  border: 2px solid #8dd6d9;
  color: white;
}
input.button_r, input.button_x{
  width: 30px;
}











