body{
  /*background-image: url("https://raw.githubusercontent.com/yashin-alexander/PIP_6labwork/master/pic.png");*/
}


/* desktop */
@media (min-width: 1280px) {

  canvas{
    display: block;
    margin-left: 10%;
    margin-top: 60px;
  }

  .container{width:100%}
  .box{white-space:nowrap}
  .box div{
    display:inline-block;
    border:1px solid black;
    margin-left: 3%;
    position: absolute;
    top: 14.5%
  }
  .box canvas{display:inline-block;border:1px solid black}

  table {
    border-collapse: collapse;
    width: 600px;
    background-color: #FDFF9E;
  }
}

/* tablet */
@media (min-width: 690px) and (max-width: 1280px) {

  canvas{
    display: block;
    margin-left: 5%;
    margin-top: 60px;
  }

  .container{width:100%}
  .box{white-space:nowrap}
  .box div{
    display:inline-block;
    border: 1px solid black;
    margin-left: 3%;
    margin-right: 5%;
    position: absolute;
    top: 13.3%;
    overflow: auto;
  }
  .box canvas{display:inline-block;border:1px solid black}

  table {
    margin-top: 60px;
    border-collapse: collapse;
    width: 400px;
    background-color: #FDFF9E;
  }
}

/* mobile */
@media (max-width: 690px) {

  canvas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: block;
  }

  .box div{
    max-width: 90%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 3%;
    margin-right: 5%;
    position: absolute;
    overflow: auto;
  }
  .box canvas{display:inline-block;border:1px solid black}
}







.button_r {
  background: #D3D3D3;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  transition-duration: 0.4s;
}

input.button_pressed_r, input.button_pressed_x{
  width: 30px;
  margin: 1px 1px;
  background: #66608B;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  transition-duration: 0.4s;
}
button_r:hover, button_x:hover{
  background-color: #bf808d;
  border: 2px solid #8dd6d9;
  color: white;
}

input.button_r, input.button_x{
  width: 30px;
}













table, td, th {
  border: 2px solid black;
}
table {
  border-collapse: collapse;
  background-color: #FDFF9E;
}
th, td {
  vertical-align: top;
  text-align: center;
  padding: 3px;
  height: 20px;
  font-family: "Ubuntu Condensed", cursive ;
}
td[rowspan] {
  vertical-align:top;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  text-align: center;
}
