@(reverseRoute: play.api.mvc.Call, nameField: Field, passwordField: Field)

<head>
    <script language="JavaScript" type="text/javascript" src=@routes.Assets.at("javascripts/jquery-1.9.0.min.js")></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create new user here!</h3>
            </div>
            <div class="panel-body">
                @helper.form(reverseRoute, 'role -> "form") {
                    <fieldset>
                        <div class="form-group @if(nameField.hasErrors) {has-error}" >
                            <input id="@nameField.id" name="@nameField.name" value="@nameField.value.getOrElse("")" class="form-control" placeholder="Name in e-mail format" type="text">
                        </div>
                        <div class="form-group @if(passwordField.hasErrors) {has-error}" >
                            <input id="@passwordField.id" name="@passwordField.name" value="@passwordField.value.getOrElse("")" class="form-control" placeholder="Password 5 characters at least" type="password">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Register & Enter main page">
                    </fieldset>
                }
                @if(flash.containsKey("error_register")) {
                    <div id="error-message" class="text-danger">
                        @flash.get("error_register")
                    </div>
                }
            </div>
        </div>
    </div>
</div>
